includes:
  - phpstan-baseline.neon

parameters:
  level: max
  paths:
    - %currentWorkingDirectory%/config
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/tests
  excludePaths:
    - %currentWorkingDirectory%/src/Serializer/Normalizer/LegacyPagerfantaNormalizer.php
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
